<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tec.utb.esquinasdemiciudad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <public-broadcats android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/building"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.login"
            android:label="My Gente"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".publicar.subir_foto"
            android:screenOrientation="portrait"
            android:label="Hacer publicacion"/>
        <activity
            android:name=".publicaciones.MainActivity"
            android:label="Mi Ciudad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ajustes"
            android:label="Actualizar datos"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".comentarios.comentarios"
            android:label="@string/title_activity_comentarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".perfil.perfil"
            android:label="perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".likes.megustas"
            android:label="@string/title_activity_megustas"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>